html, body {
    margin: 0;
    padding: 0;
    background: linear-gradient(#6A5ACD, white) fixed;
}

table {
    margin: 75px auto 0;
}

td {
    width: 75px;
    height:75px;
    border: 1px solid black;
    background-color: darkgoldenrod;
}

.cleanCell {
    background-color: lightgray;
}

.white-checker {
    border-radius: 50%;
    width: 95%;
    height: 95%;
    background-color: whitesmoke;
    border: 2px solid black;
}

.black-checker {
    border-radius: 50%;
    width: 95%;
    height: 95%;
    background-color: grey;
    border: 2px solid black;
}

.highlightedCell {
    background-color: darkcyan;
}

.current-team {
    margin-left: 47%;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: lightsalmon;
}

.lady {
    border-radius: 50%;
    border: 2px solid red;
}

.scoreboard {
    margin-left: 45%;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: lightsalmon;
}

.wrapper__container {
    margin: 50px auto;
    display: flex;
    justify-content: center;
    width: 900px;
    height: 600px;
}

#player1 {
}

.player__container {
    padding-top: 30px;
    text-align: center;
    width:300px;
    height: 450px;
    border: 3px solid ;
    border-radius: 30%;
    margin: auto;
    border-image: linear-gradient(45deg, purple, orange) 1;
}

.avatar {
    margin-top: 15px;
    width: 280px;
    height: 300px;
    margin-bottom: 15px;
}

.name {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    color: lightpink;
}

.status {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    color: orangered;
}

.start-game__button {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    color: white;
    text-align: center;
    padding-top: 10px;
    margin: auto;
    width: 150px;
    height: 50px;
    background-color: yellowgreen;
    border-radius: 5%;
}

.info__panel {
    margin: auto;
}

.room__info {
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    color: cornsilk;
    text-align: center;
}

.room__id {
    color: palegreen;
}