<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Title</title>
</head>
<body>
  <div class="wrapper__container">
    <div class="player__container" id="player1">
        <span class="name">{{firstPlayerName}}</span>
        <img src="../img/profile-avatar-svgrepo-com.svg" alt="avatar" class="avatar">
        <span class="status">Disconnected</span>
    </div>
      <div class="info__panel">
          <div class="room__info">ROOM NUMBER:<br><span class="room__id">{{roomId}}</span></div>
          <div class="start-game__button">START</div>
      </div>
    <div class="player__container">
        <span class="name">{{secondPlayerName}}</span>
        <img src="../img/profile-avatar-svgrepo-com.svg" alt="avatar" class="avatar">
        <span class="status">Disconnected</span>
    </div>
  </div>
</body>
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>

</html>