.board-container {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FEF1D0;
    background-size: cover;
}

.board-row {
    display: flex;
}

.dark-cell, .light-cell{
    width: 75px;
    height: 75px;
    /*animation-name: border-color;*/
    /*animation-duration: 2s;*/
    /*animation-timing-function: linear;*/
    /*animation-iteration-count: infinite;*/


    background-color: #b38436;
}

@keyframes border-color {
    0% {
        border-color: black;
    }
    50% {
        border-color: white;
    }
    100% {
        border-color: black;
    }
}


.light-cell {
    background-color: #DFD8D0;
}

.white-checker,
.black-checker {
    display: flex;
    align-items: center;
    justify-content: center;
}

.highlighted {
    width: 75px;
    height: 75px;
    background-color: darkcyan;
}

img {
    width: 74px;
    height: 74px;
}

.scoreboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(245, 222, 179, 0.7);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(4px);
    border-radius: 4px;
    padding: 20px;
    width: 18vw;
    height: 17vh;
    margin-left: 5vw;
}

.game-page {
    margin-left: 100px;
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.game-player-container {
    display: flex;
    align-items: center;
    margin-bottom: 1vh;
}

.game-player-name {
    font-size: 25px;
    margin-left: 1vw;
}

.checker-name-container {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.first-player-score, .second-player-score {
    padding-top: 3px;
    font-size: 25px;
    margin-left: 1vw;
}
