.board-container {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FEF1D0;
    background-size: cover;
}

.board-row {
    display: flex;
}

.dark-cell, .light-cell{
    width: 75px;
    height: 75px;
    border: .1px solid black;
    /*animation-name: border-color;*/
    /*animation-duration: 2s;*/
    /*animation-timing-function: linear;*/
    /*animation-iteration-count: infinite;*/


    background-color: #3C352F;
}

@keyframes border-color {
    0% {
        border-color: black;
    }
    50% {
        border-color: white;
    }
    100% {
        border-color: black;
    }
}


.light-cell {
    background-color: #DFD8D0;
}

.white-checker,
.black-checker {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 74px;
    height: 74px;
}