* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    margin: 75px auto 0;
}

td {
    width: 75px;
    height:75px;
    border: 1px solid black;
    background-color: darkgoldenrod;
}

.cleanCell {
    background-color: lightgray;
}