.contact-page {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-header {
    margin-top: 10px;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    font-size: 80px;
}

.contact-info-container {
    margin-top: 2vh;
    display: flex;
}

.address {
    display: flex;
    align-items: center;
    margin-right: 6vw;
    margin-bottom: 2vh;
}

.sm-icons {
    display: flex;
    transition: 1s;
}

.sm-icons > *:hover {
    transform: scale(1.2);
}