.profile-page {
    display: flex;
}

.information-container {
    background-color: whitesmoke;
    border: 1px solid black;
    opacity: 90%;
    border-radius: 10px;
    width: auto;
    padding: 2vw;
    height: auto;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lato', sans-serif;
    box-shadow: black;
    margin-bottom: 30px;
}

.profile-container {
    margin-left: 100px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-user-avatar {
    border-radius: 50%;
    width: 12vw;
    height: auto;
}

.profile-wins {
    font-size: 30px;
    color: #00C49F;
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
}

.profile-loses {
    font-size: 30px;
    color: #0088FE;
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
}

.avatar-info-container {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 10px;
    background-color: whitesmoke;
}

.profile-username {
    font-family: 'Quicksand', sans-serif;
    color: #111111;
    font-size: 40px;
    font-weight: bold;
    margin-top: 1vh;
}

.info-container {
    margin-left: 1vw;
}

.stats-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-wrapper {
    margin-top: 3vh;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    width: 13vw;
}

.buttons-container div {
    font-family: 'Comfortaa', cursive;
    background-color: #007BFF;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4vw;
    height: 3vh;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

.profile-edit-form, .profile-edit-form form{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 10px;
    font-family: 'Comfortaa', cursive;
}

input,label {
    display: block;
}

.profile-edit-form form input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 18vw;
    box-sizing: border-box;
}

.edit-avatar {
    height: 20vh;
    width: auto;
    margin-bottom: 1vh;
}

.profile-room-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85vw;
}

.profile-room-list-container h1 {
    font-family: 'Comfortaa', cursive;
    margin-bottom: 1vh;
}

.profile-room-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 10px;
    padding: 7px;
    margin-bottom: 5px;
}
.profile-roomId,
.profile-gameName,
.profile-firstPlayer,
.profile-secondPlayer,
.profile-startedAt,
.profile-duration {
    width: 16.66%;
    text-align: center;
    font-family: 'Comfortaa', cursive;
}




