.room-list-container-wrapper {
    font-family: 'Lato', sans-serif;
    margin-top: 3vh;
    margin-left: 100px;
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.room-list-container {
    width: 75vw;
    display: flex;
    flex-direction: column;
}

.room-container {
    background-color: white;
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 45px;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    margin-bottom: 5px;
}

.room-controls {
    display: flex;
    justify-content: space-between;
}

.room-controls .play-button {
    margin-bottom: 5px;
    background-color: lightsalmon;
}

.refresh-icon :hover {
    color: #007bff;
    cursor: pointer;
}

.room-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.connect-button, .add-room-button {
    text-align: center;
    background-color: #007bff;
    width: 130px;
    border-radius: 5px;
    color: white;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.game-header {
    font-family: 'Quicksand', sans-serif;
    color: sandybrown;
    font-size: 50px;
}

.add-room-button {
    margin-bottom: 10px;
    background-color: yellowgreen;
}

.roomId, .firstPlayer, .secondPlayer, .total, .connect-button-wrapper {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.room-list-section {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}