.sidenav {
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.sidenav a {
    font-size: 25px;
    width: 40px;
    color: #818181;
    display: flex;
    justify-content: center;
}

.sidenav a:hover {
    color: orange;
}

.nav-container {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.logout {
    margin-top: 20px;
    font-size: 25px;
    width: 40px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.logout-container {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 50px;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}